# environment
.env

# Python bytecode
__pycache__/
*.py[cod]

# Celery beat schedule file
celerybeat-schedule

# Virtualenvs
venv/
env/
ENV/

# Logs
*.log

# IDE/editor
.vscode/
.idea/

# macOS
.DS_Store
